#aliveemail-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    background: rgba(0,0,0,0.3);
    flex-direction: column;
    align-items: center;
    font-family: "Nunito", "sans-serif";
}
#aliveemail-modal.show {
    display: flex;
}
.modal-wrapper {
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    max-height: 400px;
    -webkit-transform: translateY(100%) scale(0.9);
    -ms-transform: translateY(100%) scale(0.9);
    transform: translateY(100%) scale(0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 4px solid #c51230;
}
.modal-wrapper.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    }
    .modal-description p {
        text-align: center;
    }
    #alivedial-form {
        width: 100%;
    }
    .modal-title h5{
        font-weight: 700;
        color: #c51230;
    }
    .modal-buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .cancel-modal-btn {
        color: #c51230;
        letter-spacing: .75px;
    }
    .cancel-modal-btn:active, .cancel-modal-btn:focus {
        box-shadow: none;
    }
    .send-email-btn {
        background: #01143f;
        color: #fff;
        letter-spacing: 0.75px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .send-email-btn fa-icon {
        margin-right: 10px;
    }