<div id="alivedial-modal" [ngClass]="{ show: showModal }">
  <div class="modal-wrapper">
    <div class="modal-image">
      <img src="" alt="" srcset="">
    </div>
    <div class="modal-title">
      <h5>Request a Callback:</h5>
    </div>
    <div class="modal-description">
      <p>
        Enter your number below and we'll have a Rep reach out to you.
      </p>
    </div>
    <form id="alivedial-form" #alideDialForm="ngForm" [formGroup]="aliveDialForm">
      <ngx-intl-tel-input [formControl]="phone_customer" [preferredCountries]="['us']" enablePlaceholder="true" [enableAutoCountrySelect]="true" name="alivedial-number"></ngx-intl-tel-input>
    </form>
    <div class="modal-buttons">
      <button class="btn cancel-modal-btn" (click)="hideModal('cancel-button')">Cancel</button>
      <button class="btn make-call-btn" (click)="makeCall('make-call-button')">
        <fa-icon [icon]="faPhone"></fa-icon>
        <span>Call Me</span>
      </button>
    </div>
  </div>
</div>
